<div class="wrapper">
    <div class="logo">
        <NavLink href="" Match="NavLinkMatch.All">
            <img src="Images/Bogspiloppen.jpg" />
        </NavLink>
    </div>
    <div class="links">
        <div>
            <a href="">
                <span>Forside</span>
            </a>
        </div>
        <div >
            <a href="Frivillige">
                <span>Frivillige</span>
            </a>
        </div>
        <div >
            <a href="Daginstitioner">
                <span>Daginstitioner</span>
            </a>
        </div>
        <div >
            <a href="Donationer">
                <span>Donationer</span>
            </a>
        </div>
        <div >
            <a href="Videnskabeligt">
                <span>Videnskabeligt</span>
            </a>
        </div>
        <div >
            <a href="Omkring">
                <span>Omkring Bogspiloppen</span>
            </a>
        </div>
    </div>
</div>
