
<div class="wrapper">
    <h1>@((MarkupString)header)</h1>
    <p>@((MarkupString)body)</p>
</div>






@code {

    [Parameter]
    public string header { get; set; } = "Overskrift";

    [Parameter]
    public string body { get; set; } = "Indhold";

}
