@page "/Daginstitioner" 

<div class="wrapper">
    <div class="wrapperrow1">
        <Card header="Hvem er vi?" body=@("Er I en daginstitution, der kunne være interesseret i at være med i BogSpiloppen, og er I beliggende i Aarhus kommune, så Kontakt os<br /><br />Som daginstitution i BogSpiloppen:<br /><br />I må være åbne og imødekommende overfor vores frivillige.<br /><br />I må stille et lokale et lokale til rådighed, som den frivillige og børnene kan være uforstyrret i.<br /><br />I må forberede børnene på den dag, den frivillige kommer og give den frivillige besked hvis børnene ikke er der. Gøre børnene klar til den frivillige.<br /><br /><br />Den frivillige kommer en fast dag og tidspunkt, 1 time ad gangen 1-2 gange om ugen (alt efter hvad den frivillige ønsker).<br /><br />Alle frivillige har været til en personlig samtale i BogSpiloppen og BogSpiloppen indhenter børne- og straffeattest på alle vores frivillige, der er i kontakt med børn, ligesom vores frivillige også har skrevet under på at de har tavshedspligt.<br /><br />I får tilgengæld engageret stabile frivillige der er glade for børn og bøger og som ønsker, via læsning og leg, at bidrage til børnenes positive udvikling.<br /><br />Derudover stiller BogSpiloppen en bogpakke på ca 50 bøger til rådighed, som BogSpiloppen udskifter ca hver 6. uge. Bogpakken skal stå fremme hele tiden, så børnene til hver en tid kan kigge i en af vores bøge")/>
        <div class="button">
            <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Kontakt os</span></a>
        </div>
        <h1 style="padding-top: 1em; color: white; text-align:center;">Daginstitutioner der samarbejder med BogSpiloppen:</h1>
        <div class="instutwrapper">
            <div class="daginstut">
                <p>Børnehuset Vilhelm Becks Vej</p>
                <p>Viby J</p>
            </div>
            <div class="daginstut">
                <p>DII Grøften</p>
                <p>Viby J</p>
            </div>
            <div class="daginstut">
                <p>DII Skovkanten</p>
                <p>Viby J</p>
            </div>
            <div class="daginstut">
                <p>DII Anemonen</p>
                <p>Viby J</p>
            </div>
            <div class="daginstut">
                <p>Motorikinstitutionen Snurretoppen</p>
                <p>Stavtrup</p>
            </div>
            <div class="daginstut">
                <p>Kridthuset</p>
                <p>Højbjerg</p>
            </div>
            <div class="daginstut">
                <p>Børnehaven Rygården</p>
                <p>Højbjerg</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Mælkevejen</p>
                <p>Brabrand</p>
            </div>
            <div class="daginstut">
                <p>Børnehaven Labyrinten</p>
                <p>Risskov</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset ved Skoven</p>
                <p>Risskov</p>
            </div>
            <div class="daginstut">
                <p>Risskov Børnehus</p>
                <p>Risskov</p>
            </div>
            <div class="daginstut">
                <p>Langenæsstien 6B</p>
                <p>Aarhus C</p>
            </div>
            <div class="daginstut">
                <p>Frederiksbjerg Børnehus</p>
                <p>Aarhus C</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Søhøjen</p>
                <p>Tilst</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Rønnebo</p>
                <p>Lisbjerg</p>
            </div>
            <div class="daginstut">
                <p>DII Spiloppen</p>
                <p>Tranbjerg</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Klatretræet</p>
                <p>Tranbjerg</p>
            </div>
            <div class="daginstut">
                <p>Bavnebakken</p>
                <p>Østerskov</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Amaliegården</p>
                <p>Beder</p>
            </div>
            <div class="daginstut">
                <p>Hasselhuset</p>
                <p>Solbjerg</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Klokkervej</p>
                <p>Åbyhøj</p>
            </div>
            <div class="daginstut">
                <p>Smilehullet</p>
                <p>Beder</p>
            </div>
            <div class="daginstut">
                <p>DII Spiren</p>
                <p>Hjortshøj</p>
            </div>
            <div class="daginstut">
                <p>Bavnebakken</p>
                <p>Kolt-Hasselager</p>
            </div>
            <div class="daginstut">
                <p>Børnehuset Østerskov</p>
                <p>Malling</p>
            </div>

        </div>
    </div>

    <div class="wrapperrow2">
        <img src="Images/Book_in_case.JPG" />
        <img src="Images/Books_and_case.JPG" />
    </div>
</div>