@page "/Daginstitioner" 

<div class="wrapper">
    <div class="wrapperrow1">
        <Card header="Hvem er vi?" body=@("Er I en daginstitution, der kunne være interesseret i at være med i BogSpiloppen, og er I beliggende i Aarhus kommune, så Kontakt os<br /><br />Som daginstitution i BogSpiloppen:<br /><br />I må være åbne og imødekommende overfor vores frivillige.<br /><br />I må stille et lokale et lokale til rådighed, som den frivillige og børnene kan være uforstyrret i.<br /><br />I må forberede børnene på den dag, den frivillige kommer og give den frivillige besked hvis børnene ikke er der. Gøre børnene klar til den frivillige.<br /><br /><br />Den frivillige kommer en fast dag og tidspunkt, 1 time ad gangen 1-2 gange om ugen (alt efter hvad den frivillige ønsker).<br /><br />Alle frivillige har været til en personlig samtale i BogSpiloppen og BogSpiloppen indhenter børne- og straffeattest på alle vores frivillige, der er i kontakt med børn, ligesom vores frivillige også har skrevet under på at de har tavshedspligt.<br /><br />I får tilgengæld engageret stabile frivillige der er glade for børn og bøger og som ønsker, via læsning og leg, at bidrage til børnenes positive udvikling.<br /><br />Derudover stiller BogSpiloppen en bogpakke på ca 50 bøger til rådighed, som BogSpiloppen udskifter ca hver 6. uge. Bogpakken skal stå fremme hele tiden, så børnene til hver en tid kan kigge i en af vores bøge") />
        <div>
            <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Kontakt os</span></a>
        </div>     
    </div>

    <div class="wrapperrow2">
        <img src="Images/Book_in_case.JPG" />
        <img src="Images/Books_and_case.JPG" />
    </div>
</div>