@page "/Donationer"

<div class="wrapper">
    <div class="cards">
        <Card header="Hvordan hjælper donation?" body=@("Alle donationer hjælper os. <br /> Donationer i form af billedbøger gør, at vi kan give børnene i børnehaverne et rigere udvalg af bøger. Derudover kan donerede bøger også være bøger, som man ikke længere kan købe, og derfor giver det et bredere udvalg til os, når vi sammensætter bogpakkerne. <br /> Bogpakker er en samling af bøger, som BogSpiloppen stiller gratis til rådighed til alle medvirkende børnehaver. Der er ca. 50 bøger i hver bogpakke og bogpakken bliver skiftet ca. hver 6. uge. Så vi skal have mange forskellige bøger.<br /> En sådan donation gør også, at vi ikke selv skal ud at købe billedbøger, og at vi så kan bruge pengene på noget andet. For eksempel legetøj eller spil.<br /> Og lige sådan kan doneret kontorartikler, spil, legetøj betyde at vi kan bruge pengene et andet sted.<br /> Send os gerne en mail med forespørgsel til donationer.") />

        <Card header="Hvordan kan jeg donere?" body=@("Vi modtager gerne donationer. <br /> Vi er interesseret i billedbøger i god stand. For eksempel spil vendespil, hjemmestrikkede små dukker på max 10 cm.<br />Har du noget andet, hvor du tænker, at det kunne være interessant for os, så skriv endelig til os.Ønsker du at donere, bedes du skrive til os") />
    </div>
    <div class="button">
        <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Kontakt</span></a>
    </div>
    <h1 style="color: white">Tak til følgende fonde for donationer der gør bogspiloppens arbejde muligt</h1>
    <ul class="logoer">
        <li>
            <img src="Images/Fonde/ajpfond.png" />
        </li>

        <li>
            <img src="Images/Fonde/hede_nielsens.png" />
        </li>
        <li>
            <img src="Images/Fonde/lauritzen_fonden.png" />
        </li>
        <li>
            <img src="Images/Fonde/lemvigh_muller.png" />
        </li>
        <li>
            <img src="Images/Fonde/mb_richters.jpg" />
        </li>
        <li>
            <img src="Images/Fonde/tranes.png" />
        </li>
        <li>
            <img src="Images/Fonde/trygfonden.png" />
        </li>
        <li>
            <img src="Images/Fonde" />
        </li>
        <li>
            <img src="Images/Fonde/ole_kirk.png" />
        </li>
        <li>
            <img src="Images/Fonde/nordea.png" />
        </li>
        <li>
            <img src="Images/Fonde/socialstyrken.png" />
        </li>
        <li>
            <img src="Images/Fonde/vising.png" />
        </li>
        <li>
            <img src="Images/Fonde/antikvar.png" />
        </li>
        <li>
            <img src="Images/Fonde/ap_moeller.png" />
        </li>
        
        <li>
            <img src="Images/Fonde/carl_august_text.png" />
        </li>
        <li>
            <img src="Images/Fonde/ernst_vibeke.png" />
        </li>
        <li>
            <img src="Images/Fonde/vmok.png" />
        </li>
        <li>
            <img src="Images/Fonde/østifterne.png" />
        </li>
        <li></li>
    </ul>
    

    <h1 style="color: white">Tak for forlag før bog donationer</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="Images/Forlag/abc.png" />
            </div>
            <div class="col">
                <img src="Images/Forlag/bolden.png" />
            </div>
            <div class="col">
                <img src="Images/Forlag/klematis.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="Images/Forlag/føtex.jpg" />
            </div>
            <div class="col">
                <img src="Images/Forlag/politiken.png" />
            </div>
            <div class="col">
                <img src="Images/Forlag/Rimeriget.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="Images/Forlag/soelbjaerg.png" />
            </div>
            <div class="col">
                <img src="Images/Forlag/staarup.png" />
            </div>
            <div class="col">
                <img src="Images/Forlag/turbine.png" />
            </div>
        </div>
        </div>
        <h1 style="color: white">Tak til: Birgit Skov</h1>
        <img src="Images/birgit_skov.jpg" style="width: 850px; height: 900px;" />

        <h1 style="color: white">Tak til alle jer der har tænkt på Bogspiloppen når i har ryddet op i jeres billedbøger</h1>
        <div class="button">
            <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Vil du også donere?</span></a>
        </div>


    </div>