@page "/Donationer"

<div class="wrapper">
    <div class="cards">
        <Card header="Hvordan hjælper donation?" body=@("Alle donationer hjælper os. <br /> Donationer i form af billedbøger gør, at vi kan give børnene i børnehaverne et rigere udvalg af bøger. Derudover kan donerede bøger også være bøger, som man ikke længere kan købe, og derfor giver det et bredere udvalg til os, når vi sammensætter bogpakkerne. <br /> Bogpakker er en samling af bøger, som BogSpiloppen stiller gratis til rådighed til alle medvirkende børnehaver. Der er ca. 50 bøger i hver bogpakke og bogpakken bliver skiftet ca. hver 6. uge. Så vi skal have mange forskellige bøger.<br /> En sådan donation gør også, at vi ikke selv skal ud at købe billedbøger, og at vi så kan bruge pengene på noget andet. For eksempel legetøj eller spil.<br /> Og lige sådan kan doneret kontorartikler, spil, legetøj betyde at vi kan bruge pengene et andet sted.<br /> Send os gerne en mail med forespørgsel til donationer.") />

        <Card header="Hvordan kan jeg donere?" body=@("Vi modtager gerne donationer. <br /> Vi er interesseret i billedbøger i god stand. For eksempel spil vendespil, hjemmestrikkede små dukker på max 10 cm.<br />Har du noget andet, hvor du tænker, at det kunne være interessant for os, så skriv endelig til os.Ønsker du at donere, bedes du skrive til os") />
    </div>
    <div class="button">
        <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Vil du også donere?</span></a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1 style="color: white">Tak til følgende fonde for donationer der gør BogSpiloppens arbejde muligt</h1>
    <div class="namewrapper">
        <div class="name">
            <a href="https://www.tryghed.dk" class="namebutton"><span>Tryg Fonden</span></a>
        </div>
        <div class="name">
            <a href="https://www.vissingfonden.dk" class="namebutton"><span>Vissing Fonden</span></a>
        </div>
        <div class="name">
            <a href="https://www.olekirksfond.dk" class="namebutton"><span>Ole Kirk's Fond</span></a>
        </div>
        <div class="name">
            <a href="https://www.lauritzenfonden.com" class="namebutton"><span>LauritzenFonden</span></a>
        </div>
        <div class="name">
            <a href="https://lmfond.dk" class="namebutton"><span>Lemvigh-Müller Fonden</span></a>
        </div>
        <div class="name">
            <a href="https://justesensfond.dk" class="namebutton"><span>Asta og Jul. P. Justesens Fond</span></a>
        </div>
        <div class="name">
            <a href="https://danielsensfond.dk" class="namebutton"><span>Danielsens Fond</span></a>
        </div>
        <div class="name">
            <a href="https://www.apmollerfonde.dk" class="namebutton"><span>Den A.P. Møllerske Støttefond</span></a>
        </div>
        <div class="name">
            <a href="https://www.nordeafonden.dk" class="namebutton"><span>Nordea Fonden</span></a>
        </div>
        <div class="name">
            <a href="https://socialstyrelsen.dk" class="namebutton"><span>PUF-puljen (Socialstyrelsen)</span></a>
        </div>
        <div class="name">
            <a href="https://www.oestifterne.dk" class="namebutton"><span>Foreningen Østifterne</span></a>
        </div>
        <div class="name">
            <a href="http://tranesfond.dk/" class="namebutton"><span>Tranes Fond</span></a>
        </div>
        <div class="name">
            <a href="https://cjph.dk" class="namebutton"><span>Antikvar Carl Julius Petersens Hjælpefond</span></a>
        </div>
        <div class="name">
            <a href="https://www.hedenielsensfond.dk" class="namebutton"><span>Familien Hede Nielsens Fond</span></a>
        </div>
        <div class="name">
            <a href="https://vmokfonden.wordpress.com/?ref=spelling" class="namebutton"><span>VMOK Fonden</span></a>
        </div>
        <div class="name">
            <a href=@("/Donationer") class="namebutton"><span>Ernst og Vibeke Husmans Fond</span></a>
        </div>
        <div class="name">
            <a href="https://www.carlaugustogjennyandersensfond.dk" class="namebutton"><span>Carl August og Jenny Andersens fond</span></a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1 style="color: white">Tak til følgende forlag for bogdonationer</h1>
    <div class="namewrapper">
        <div class="name">
            <a href="https://forlagetbolden.dk" class="namebutton"><span>Forlaget Bolden</span></a>
        </div>
        <div class="name">
            <a href="https://www.klematis.dk" class="namebutton"><span>Forlaget Klematis</span></a>
        </div>
        <div class="name">
            <a href="https://turbine.dk" class="namebutton"><span>Turbine</span></a>
        </div>
        <div class="name">
            <a href="https://www.politikensforlag.dk" class="namebutton"><span>Politikkens Forlag</span></a>
        </div>
        <div class="name">
            <a href="https://abc-forlag.dk" class="namebutton"><span>ABC-forlag</span></a>
        </div>
        <div class="name">
            <a href="https://straarupogco.dk" class="namebutton"><span>Forlaget Straarup og co</span></a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1 style="color: white">Tak til øvrige:</h1>
    <div class="namewrapper">
        <div class="name">
            <a href="https://lottesalling.dk" class="namebutton"><span>Lotte Salling</span></a>
        </div>
        <div class="name">
            <a href="https://www.foetex.dk" class="namebutton"><span>Føtex Storcenter Nord</span></a>
        </div>
        <div class="name">
            <a href="https://www.birgitskoufotografi.dk/" class="namebutton"><span>Birgit Skou Fotografi</span></a>
        </div>
        <div class="name">
            <a href="https://solvbjerg.dk" class="namebutton"><span>Sølvbjærg Fotografi</span></a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1 style="color: white">Tak til alle jer der har tænkt på BogSpiloppen når I har ryddet op i jeres billedbøger</h1>
    <div class="button">
        <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")><span>Vil du også donere?</span></a>
    </div>


</div>