@page "/Frivillige"


<div class="wrapper">
    <Card header="Frivillig højtlæser" body=@("Som frivillig højtlæser er du Som frivillig i BogSpiloppen er du med til at gøre en kæmpe forskel for børn du er med til at skabe øget trivsel og udvikle børnene fagligt. I dit selskab vil børnene blive bedre til at koncentrere sig og fordybe sig, de vil bedre kunne forstå verden, de vil udvikle deres empati, de vil blomstre fordi de bliver set og hørt. De vil få gode legerelationer og på den lange bane vil de klare sig bedre i skolen og i deres voksne liv.<br /><br />Som frivillig højtlæser skal du være i børnehaven 1 – 2 gange om ugen, på en fast dag og tidspunkt. Du sætter 1 time af til hvert besøg. Men tilrettelægger selvfølgelig dagen efter børnenes evne til at koncentrere sig på dagen. Det er en lille fast gruppe børn du skal læse for. Gruppen er i starten på 2 – 3 børn, og der kan højest være 4 børn i gruppen. Du kan læse/kigge i bøger, men også snakke og lege, tegne, synge, spille spil. Du er i meget høj grad med til at bestemme hvad du skal lave sammen med børnene. Hvis du ikke kan lide at synge, så skal du ikke synge, men hvis du for eksempel er glad for teater og børnene også er det, så er det det, I gør sammen." )/>
    <h1 style="padding-top: 1em; color: white; align-self: center;">Mød nogle af vores frivillige højtlæsere</h1>
    <div style="        display: flex;
        flex-wrap: wrap;
        color: white;
        flex-direction: row;
">

        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Anne.jpeg" class="card-img-top" style="width: 280px; height: auto; object-fit: fill; " />
            <div class="card-body">
                <h5 class="card-title">Anne Grethe</h5>
                <p class="card-text">Anne Grethe er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Annette.jpeg" class="card-img-top" style="width: 280px; height: 420px; object-fit: cover; " />
            <div class="card-body">
                <h5 class="card-title">Annette</h5>
                <p class="card-text">Annette er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Camilla.jpg" class="card-img-top" style="width: 280px; height: 420px; object-fit: cover; " />
            <div class="card-body">
                <h5 class="card-title">Camilla</h5>
                <p class="card-text">Camilla er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Inge.jpg" class="card-img-top" style="width: 280px; height: 420px;" />
            <div class="card-body">
                <h5 class="card-title">Inge</h5>
                <p class="card-text">Inge er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Kirsten.jpg" class="card-img-top" style="width: 280px; height: 420px; " />
            <div class="card-body">
                <h5 class="card-title">Kirsten</h5>
                <p class="card-text">Kirsten er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Sven.jpg" class="card-img-top" style="width: 280px; height: 420px;" />
            <div class="card-body">
                <h5 class="card-title">Sven</h5>
                <p class="card-text">Sven er højtlæser</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Frivillige/Vibeke.jpg" class="card-img-top" style="width: 280px; height: 420px;" />
            <div class="card-body">
                <h5 class="card-title">Vibeke</h5>
                <p class="card-text">Vibeke er højtlæser</p>
            </div>
        </div>
        <div class="button">
            <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")>Vil du også være frivillig højtlæser?</a>
        </div>

    </div>
    <Card header="Frivillig chauffør" body=@("Som frivillig chauffør er du med til at give alle børnene i børnehaver, der er tilknyttet BogSpiloppen, nogle fantastiske bogoplevelser. At komme med nye bøger til børnehaverne er som at komme med gaver. Børnene er nysgerrige og begejstrede. Du kommer ud i børnehaverne i deres åbningstid, samler den ”gamle” bogpakke ind og afleverer en ny. <br /><br />Hvis børn skal have et godt forhold til bøger, skal de have adgang til bøger. Tilgangen til bøger vil de tage med sig videre, så de vil komme til at læse af lyst. Med en masse fantastiske bøger, der jævnligt bliver udskiftet, vil det også udvikle deres nysgerrighed, hvilket er kimen til at lære. BogSpiloppens bogpakker gør at der bliver læst mere i børnehaverne og vi ser faktisk også, at vuggestuer og børnehaver oftere tage på biblioteket, hvilket er helt fantastisk.<br /><br />Som frivillig chauffør skal du skifte bogpakker i børnehavernes åbningstid, hvilket er mandag til torsdag kl.6.30-17.00 og fredag fra kl 6.30 til 16.30.<br /><br />Du får et antal børnehaver som du så skifter bogpakker i. Alle børnehaverne ligger indenfor Aarhus kommunes grænser. Hvor mange børnehaver, der skal være dine, afhænger af hvor meget tid du har lyst til at bruge på jobbet. Udover bogpakkeskift skal du, i perioder, også hente donerede bøger hos folk privat (indenfor Aarhus kommunes grænser). Dette er dog i begrænset omfang.<br /><br />Du får kørselsgodtgørelse efter den lave takst.") />
    
    <div class="button" style="width: 300px; height: 50px;">
        <a href=@("mailto:bogspiloppen@gmail.com?subject=Kontakt")>Vil du også være frivillig chauffør?</a>
    </div>
    
</div>

