body {
    color: white;
}

.wrapper {
    padding: 10em;
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
    .wrapper div {
        justify-self: center;
        margin: 1em;
    }


a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74926A;
    border-radius: 30px;
    color: white;
}
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        border: solid 1px black;
    }



.button {
    width: 150px;
    height: 250px;
    vertical-align: central;
}