@page "/"

<div class="wrapper">
<Card header="Hvem er vi?" body="BogSpiloppen er en frivillig forening, der med hjælp fra frivillige læser højt og laver understøttende
aktiviteter for en fast lille gruppe børn i børnehaver.
Højtlæsning udvikler børn både fagligt, personligt og socialt og det synes vi er en gave som alle børn har ret til. I BogSpiloppen vil vi gøre vores til, at børnene vil trives bedre, og dermed vil det give dem en mere udbytterig skolegang. 
Højtlæsning udvikler blandt meget andet evnen til at koncentrere sig og fordybe sig. Med dette i skoletasken, vil der komme mere ro i klasserne, alle vil få mere ud af undervisningen og børnene vil klare sig bedre i deres fremtidige børneliv. 
Når vi giver børn øget højtlæsning og adgang til flere bøger, vil de udvikle sig imponerende meget og
hurtigt. Vi vil det bedste for børnene og ønsker at alle børn skal trives og klare sig bedre i skolen end de ville
have mulighed for, hvis ikke BogSpiloppen var kommet ind i billedet.
BogSpiloppen har eksisteret siden 2017 og de tilbagemeldinger, vi får fra børnehaverne er, at børnene
udvikler sig rigtig meget i samværet med BogSpiloppens frivillige, endda med 1 time om ugen.
Vi kan faktisk ikke være bekendt overfor børnene, at lade være, derfor er alles indsats i BogSpiloppen af
betydelig værdi.
Vi synes at personalet i børnehaverne gør en fantastisk indsats hver dag, men vi må også se i øjnene, at
ressourcerne ikke er til, at en fastansat i en børnehave kan gå fra med de samme 2 børn, 1 time, 1 gang om
ugen. For tiden arbejder vi indenfor Aarhus kommunes grænser.
Udover højtlæsning og andre aktiviteter, stiller vi en bogpakke til rådighed til alle medvirkende børnehaver. Det gør vi fordi børn skal have adgang til bøger for at blive interesseret i bøger.
Det, at være vokset op med bøger, gør, at børnene senere i livet vil have en nemmere tilgang til bøger og til
det at læse, hvilket kommer dem til gode som voksen, eksempelvis når de skal tage en uddannelse.
"/>


</div>