@page "/"

<div class="wrapper">
<Card header="Hvem er vi?" body="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

"/>

<Card header="Opslag" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in posuere urna. Nunc volutpat mauris sit amet accumsan gravida. Nulla eleifend augue sed orci tempus lobortis. Quisque fringilla eros in tellus porttitor, interdum placerat nunc eleifend. Donec eget cursus nisi. Morbi ut tortor orci. Nullam sed lacinia ante, nec congue eros. Aenean nulla ante, ultrices vitae dictum a, fringilla et mauris. Nam bibendum vel purus ac pellentesque. Aenean metus mi, lacinia volutpat nunc nec, pharetra semper purus. Phasellus rhoncus diam et tellus laoreet, ut malesuada eros blandit.

Donec metus risus, venenatis vel suscipit ut, consectetur nec purus. Integer vulputate est at nisl porta, vel viverra arcu posuere. In non ipsum purus. Morbi non nisl vel diam ornare semper ac eu est. Phasellus dictum felis sapien, nec ornare ante imperdiet sit amet. Nunc accumsan rutrum augue nec ultrices. Praesent sit amet ornare massa. Sed mollis purus nunc, eget sollicitudin lorem auctor a. In varius venenatis tincidunt.

Nunc ut imperdiet magna. Etiam ipsum massa, viverra in interdum sed, mollis et sem. Fusce feugiat nisl nibh, non rutrum libero faucibus consectetur. Nam ultricies ante quis nisi interdum, sit amet mattis arcu imperdiet. Ut erat sapien, luctus nec pharetra quis, imperdiet sit amet urna. Morbi eu sodales odio. Pellentesque id sem mattis ipsum iaculis pretium.

Curabitur sit amet sem nec erat tristique efficitur a vel leo. Mauris ut scelerisque turpis, in pulvinar lectus. Donec tempor sit amet leo vitae vehicula. Suspendisse euismod est a leo ultrices molestie. Fusce tellus sem, iaculis vitae dignissim et, vehicula vel lectus. Proin in erat fringilla justo bibendum efficitur ac sit amet dolor. Donec accumsan faucibus magna, ultricies posuere mauris accumsan at. Fusce faucibus velit vel est commodo, eu bibendum magna scelerisque.

Aliquam eget pharetra augue. Mauris bibendum leo commodo, dictum risus id, blandit est. Fusce tincidunt luctus lectus eu pretium. Pellentesque semper suscipit elementum. Nullam quis ultricies nisi, a ullamcorper orci. Nam suscipit nisi lectus, in scelerisque sapien porta eleifend. Etiam interdum, justo et scelerisque sodales, sapien diam lobortis dui, vel vestibulum quam urna sit amet neque. Vestibulum at dignissim turpis, vitae rutrum sem. Fusce efficitur massa in purus dignissim, sed rhoncus nisl convallis. Aenean convallis diam id tincidunt condimentum. Pellentesque et elit libero. Donec hendrerit odio eget rutrum pretium. Nam semper felis nisi, a euismod mi aliquam a. Praesent eget ex sed purus placerat laoreet."/>
</div>