@page "/"

<div class="wrapper">
    <div class="wrapperrow1">
        <img src="Images/helga.jpg" />
        <img src="Images/reading.jpg" />
    </div>
    <div class="wrapperrow2">
        <Card header="Hvem er vi?" body=@("BogSpiloppen er en frivillig forening, der har eksisteret siden 2017. Vi har frivillige der læser højt og laver understøttende aktiviteter for en fast lille gruppe børn i børnehaver. Højtlæsning udvikler børn både fagligt, personligt og socialt og det synes vi er en gave, som alle børn har ret til. Højtlæsning udvikler blandt meget andet evnen til at koncentrere og fordybe sig, og med dette i skoletasken vil der komme mere ro i klasserne, alle vil få mere ud af undervisningen og børnene vil klare sig bedre i fremtiden.<br /><br />Hvis vi giver børn mere højtlæsning og adgang til flere bøger, så vil de udvikle sig imponerende meget og hurtigt. Vi vil det bedste for børnene og ønsker at alle børn skal trives og klare sig bedre i skolen end de ville gå inden BogSpiloppen kom ind i billedet.<br /><br />Vi kan faktisk ikke være bekendt overfor børnene at lade være, derfor er alles indsats i BogSpiloppen af ubetydelig værdi.<br /><br />Personalet i børnehaverne gør en fantastisk indsats, men vi må også se i øjnene at ressourcerne ikke er til, at en fastansat i en børnehave kan gå fra med de samme 2 børn 1 time 1 gang om ugen. <br /><br />Pt arbejder vi indenfor Aahus kommunes grænser.<br /><br />Udover højtlæsning stiller vi en bogpakke til rådighed til alle medvirkende børnehaver. Det gør vi fordi børn skal have adgang til bøger for at blive interesseret i bøger. Det at vokse op med bøger gør, at børnene senere i livet vil læse af lyst, hvilket kommer dem til gode senere i livet, eksempelvis hvis de skal tage en uddannelse.") />

    </div>
    <div class="wrapperrow3">
        <div style="display: flex; flex-wrap: wrap;">
            <a href="https://www.facebook.com/bogspiloppen"><img src="Icons/facebook-4.svg" style="width: 150px; height: auto; align-self: center; padding: 15px;" /></a>
            <a href="https://www.linkedin.com/company/foreningen-bogspiloppen/"><img src="Icons/linkedin-icon-2.svg" style="width: 150px; height: auto; align-self: center; padding: 15px;" /></a>
        </div>
    </div>

</div>