@page "/"

<div class="wrapper">
<Card header="Hvem er vi?" body="BogSpiloppen er en frivillig forening, der med hjælp fra frivillige læser højt og laver understøttende
aktiviteter for en fast lille gruppe børn i børnehaver.
Højtlæsning udvikler børn både fagligt, personligt og socialt og det synes vi er en gave som alle børn har ret til. I BogSpiloppen vil vi gøre vores til, at børnene vil trives bedre, og dermed vil det give dem en mere udbytterig skolegang. 
Højtlæsning udvikler blandt meget andet evnen til at koncentrere sig og fordybe sig. Med dette i skoletasken, vil der komme mere ro i klasserne, alle vil få mere ud af undervisningen og børnene vil klare sig bedre i deres fremtidige børneliv. 
Når vi giver børn øget højtlæsning og adgang til flere bøger, vil de udvikle sig imponerende meget og
hurtigt. Vi vil det bedste for børnene og ønsker at alle børn skal trives og klare sig bedre i skolen end de ville
have mulighed for, hvis ikke BogSpiloppen var kommet ind i billedet.
BogSpiloppen har eksisteret siden 2017 og de tilbagemeldinger, vi får fra børnehaverne er, at børnene
udvikler sig rigtig meget i samværet med BogSpiloppens frivillige, endda med 1 time om ugen.
Vi kan faktisk ikke være bekendt overfor børnene, at lade være, derfor er alles indsats i BogSpiloppen af
betydelig værdi.
Vi synes at personalet i børnehaverne gør en fantastisk indsats hver dag, men vi må også se i øjnene, at
ressourcerne ikke er til, at en fastansat i en børnehave kan gå fra med de samme 2 børn, 1 time, 1 gang om
ugen. For tiden arbejder vi indenfor Aarhus kommunes grænser.
Udover højtlæsning og andre aktiviteter, stiller vi en bogpakke til rådighed til alle medvirkende børnehaver. Det gør vi fordi børn skal have adgang til bøger for at blive interesseret i bøger.
Det, at være vokset op med bøger, gør, at børnene senere i livet vil have en nemmere tilgang til bøger og til
det at læse, hvilket kommer dem til gode som voksen, eksempelvis når de skal tage en uddannelse.
"/>

<Card header="Opslag" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in posuere urna. Nunc volutpat mauris sit amet accumsan gravida. Nulla eleifend augue sed orci tempus lobortis. Quisque fringilla eros in tellus porttitor, interdum placerat nunc eleifend. Donec eget cursus nisi. Morbi ut tortor orci. Nullam sed lacinia ante, nec congue eros. Aenean nulla ante, ultrices vitae dictum a, fringilla et mauris. Nam bibendum vel purus ac pellentesque. Aenean metus mi, lacinia volutpat nunc nec, pharetra semper purus. Phasellus rhoncus diam et tellus laoreet, ut malesuada eros blandit.

Donec metus risus, venenatis vel suscipit ut, consectetur nec purus. Integer vulputate est at nisl porta, vel viverra arcu posuere. In non ipsum purus. Morbi non nisl vel diam ornare semper ac eu est. Phasellus dictum felis sapien, nec ornare ante imperdiet sit amet. Nunc accumsan rutrum augue nec ultrices. Praesent sit amet ornare massa. Sed mollis purus nunc, eget sollicitudin lorem auctor a. In varius venenatis tincidunt.

Nunc ut imperdiet magna. Etiam ipsum massa, viverra in interdum sed, mollis et sem. Fusce feugiat nisl nibh, non rutrum libero faucibus consectetur. Nam ultricies ante quis nisi interdum, sit amet mattis arcu imperdiet. Ut erat sapien, luctus nec pharetra quis, imperdiet sit amet urna. Morbi eu sodales odio. Pellentesque id sem mattis ipsum iaculis pretium.

Curabitur sit amet sem nec erat tristique efficitur a vel leo. Mauris ut scelerisque turpis, in pulvinar lectus. Donec tempor sit amet leo vitae vehicula. Suspendisse euismod est a leo ultrices molestie. Fusce tellus sem, iaculis vitae dignissim et, vehicula vel lectus. Proin in erat fringilla justo bibendum efficitur ac sit amet dolor. Donec accumsan faucibus magna, ultricies posuere mauris accumsan at. Fusce faucibus velit vel est commodo, eu bibendum magna scelerisque.

Aliquam eget pharetra augue. Mauris bibendum leo commodo, dictum risus id, blandit est. Fusce tincidunt luctus lectus eu pretium. Pellentesque semper suscipit elementum. Nullam quis ultricies nisi, a ullamcorper orci. Nam suscipit nisi lectus, in scelerisque sapien porta eleifend. Etiam interdum, justo et scelerisque sodales, sapien diam lobortis dui, vel vestibulum quam urna sit amet neque. Vestibulum at dignissim turpis, vitae rutrum sem. Fusce efficitur massa in purus dignissim, sed rhoncus nisl convallis. Aenean convallis diam id tincidunt condimentum. Pellentesque et elit libero. Donec hendrerit odio eget rutrum pretium. Nam semper felis nisi, a euismod mi aliquam a. Praesent eget ex sed purus placerat laoreet."/>
</div>