@page "/Omkring" 


<div class="wrapper">
    <Card header="Baggrund for BogSpiloppen" body=@("Den spæde start til BogSpiloppen startede for mange år siden. Lotte Buch Thodsen, der i dag er projektleder i BogSpiloppen, har arbejdet mange år i børnehaver og har kunnet se, at der var børn, der aldrig fik læst højt derhjemme, selvom personalet i børnehaverne opfordrede forældrene til at læse højt. Så var der bare nogle børn der aldrig fik en historie af mor eller far. Årsagen til den manglende højtlæsning er egentlig ligegyldig, for taberen i spillet er børnene.<br /><br />Lotte Buch Thodsen har mange års erfaring med daginstitutionsområdet, primært børnehaver. Derudover har hun blandt andet arbejdet i AGF og SIF (fodboldklubber i Aarhus og Silkeborg), hun har læst Ernæring og Sundhed, samt Klinisk Biomekanik (kiropraktor).<br /><br />Lotte har så vidt det har kunnet lade sig gøre, læst i de børnehaver hun har arbejdet i, men der var ikke roen til at fordybe sig i en bog og læse den færdig, og hvis der var, så manglede der en halv side i midten af bogen. De børn, der havde brug for at få læst højt, var også de børn, der smuttede først. De kunne (og kan) simpelthen ikke holde koncentrationen.<br /><br />Desuden har Lotte set på sine egne børn, hvilken gave det er, og har været for dem, at få læst højt og have adgang til en masse forskellige og fantastiske billedbøger og børnebøger. Derfor er en del af BogSpiloppens tilbud også, at alle medvirkende børnehaver får stillet en bogpakke til rådighed. Bogpakken er på ca 50 bøger og bliver udskiftet ca hver 6 uge.<br /><br />BogSpiloppen startede fordi Lotte kunne se et behov for at give højtlæsning og bøger til børn der ikke får læst højt derhjemme. Lotte fortalte om sine tanker til blandt andet Else Andersen, der i dag sidder i bestyrelsen for BogSpiloppen. Hun synes også det var en fantastisk idé. Der blev derefter nedsat en bestyrelse og Foreningen BogSpiloppen blev stiftet i maj 2017. Herfra fulgte arbejdet med at udarbejde en projektbeskrivelse og dernæst søge fonde. Der er brugt rigtig mange frivillige timer til det indledende arbejde, så det var fantastisk da det økonomiske mål for det første år var nået, og Lotte kunne ansættes pr 1/12 – 2018.<br /><br />Maj 2021, hvor vi sidder og kigge tilbage på hvad vi indtil videre har udrettet, så må vi sige, at BogSpiloppen er kommet for at blive. Det tror vi selv på og vi håber også at kommuner og fonde fremover vil støtte os. Når vi ser på hvad det gør ved børnene at BogSpiloppens frivillige læser, og alle de bøger vi stiller til rådighed, så kan vi ikke få armene ned af begejstring. Børnene udvikler sig helt fantastisk. BogSpiloppen vil så gerne, at alle børn trives og udvikler sig positivt.") />

    <div class="emloyeewrapper">
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/Michael Digital Fil 10x15 cm 300 dpi.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Michael</h5>
                <p class="card-text">Formand</p>
                <p><img src="Icons/call_white_24dp.svg" /> +45 93 86 64 04</p>
                <p><img src="Icons/email_white_24dp.svg" /> bogspiloppen@gmail.com</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/Lotte Digital Fil 10x15 cm 300 dpi.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Lotte</h5>
                <p class="card-text">Projekleder</p>
                <p><img src="Icons/call_white_24dp.svg" /> +45 93 86 64 04</p>
                <p><img src="Icons/email_white_24dp.svg" /> bogspiloppen@gmail.com</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/Beate Digital Fil 10x15 cm 300 dpi.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Beate</h5>
                <p class="card-text">Næstformand</p>
                <p><img src="Icons/call_white_24dp.svg" /></p>
                <p><img src="Icons/email_white_24dp.svg" /></p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/Else Digital Fil 10x15 cm 300 dpi.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Else</h5>
                <p class="card-text">Kasserer</p>
                <p><img src="Icons/call_white_24dp.svg" /></p>
                <p><img src="Icons/email_white_24dp.svg" /></p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/Simone Digital Fil 10x15 cm 300 dpi.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Simone</h5>
                <p class="card-text">Frivillig</p>
                <p><img src="Icons/call_white_24dp.svg" /></p>
                <p><img src="Icons/email_white_24dp.svg" /> bogspiloppen02@gmail.com</p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Employees/silihuoutte.jpg" class="card-img-top" style="width: 420px; height: 630px;" />
            <div class="card-body">
                <h5 class="card-title">Sebastian</h5>
                <p class="card-text">Web ansvarlig</p>
                <p><img src="Icons/call_white_24dp.svg" /></p>
                <p><img src="Icons/email_white_24dp.svg" /></p>
            </div>
        </div>
        <div class="card" style="background-color: #2D6E7E;">
            <img src="Images/Bogspiloppen.jpg" class="card-img-top" style="width: 420px; height: auto" />
            <div class="card-body">
                <h5 class="card-title">Foreningen BogSpiloppen</h5>
                <p>CVR-nr: 38688820</p>
                <p><img src="Icons/call_white_24dp.svg" /> +45 93 86 64 04</p>
                <p><img src="Icons/email_white_24dp.svg" /> bogspiloppen@gmail.com</p>
                <p><img src="Icons/place_white_24dp.svg" /> Vestergårdsvangen 109,<br /> 8260 Viby J</p>
                <p><a href="https://www.facebook.com/bogspiloppen"><span>Facebook</span></a></p>
                <p><a href="https://www.linkedin.com/company/foreningen-bogspiloppen/"><span>Linkedin</span></a></p>
            </div>
        </div>
    </div>

</div>