@page "/Videnskabeligt"


<div class="wrapper">
    <div class="wrapperrow1">
        <div class="articlecard">
            <h1>Professorer: Højtlæsning styrker børns mentale sundhed</h1>
            <div class="underline"></div>
            <p style="width: 500px; padding-top: 1em;">Artiklen fra Politiken belyser de mange fordele børn har ved at få læst højt. Højtlæsning styrker børns kognitive udvikling og dermed deres trivsel. Der bliver præsenteret både dansk og udenlandsk forskning om emnet. </p>
            <div class="button">
                <a href="/Articles/artikel-politiken.dk - Hvert-fjerde-.pdf" download="artikel-politiken.dk - Hvert-fjerde-.pdf" target="_top"><span>Download artiklen</span></a>
            </div>
        </div>
        <div class="articlecard">
            <h1>Hvert fjerde sårbare barn afslutter ikke skolen</h1>
            <div class="underline"></div>
            <p style="width: 500px; padding-top: 1em;">En undersøgelse fra Kora, Det Nationale Institut for Kommuners og Regioners Analyse og Forskning, peger på, at særligt udsatte børn har en større risiko for at klare sig dårligt i skolen end de resterende børn. Artiklen er bragt i Politiken, 2015.</p>
            <div class="button">
                <a href="/Articles/artikel-videnskab.dk - laes-hojt-barnet.pdf" download="artikel-videnskab.dk - laes-hojt-barnet.pdf" target="_top"><span>Download artiklen</span></a>
            </div>
        </div>
        <div class="articlecard">
            <h1>Læs højt for barnet </h1>
            <div class="underline"></div>
            <p style="width: 500px; padding-top: 1em;">Artiklen fra Videnskab.dk giver gode råd til højtlæsningen, samt belyser dens fordele. Højtlæsning styrker nemlig udviklingen af både talesproget og læse- og skrivefærdigheder.</p>
            <div class="button">
                <a><span>Download artiklen</span></a>
            </div>
        </div>
        <div class="articlecard">
            <h1>Børn med bogreoler klarer sig bedre</h1>
            <div class="underline"></div>
            <p style="width: 500px; padding-top: 1em;">Der er forskel på hvordan børn klarer sig i skolen på baggrund af familien socioøkonomiske status. Dette skyldes bl.a hvordan der bliver talt i hjemmet og hvilket sprog børnene tager med sig hjemmefra. Artiklen er fra Information. </p>
            <div class="button">
                <a><span>Download artiklen</span></a>
            </div>
        </div>
        <div class="articlecard">
            <h1>Sårbare børn</h1>
            <div class="underline"></div>
            <p style="width: 500px; padding-top: 1em;">En rapport fra Vive - Det Nationale Forskning og Analysecenter for Velfærd, som understreger vigtigheden af arbejdet med at løfte det faglige niveau for udsatte børn i Danmark. </p>
            <div class="button">
                <a><span>Download artiklen</span></a>
            </div>
        </div>
    </div>

    <div class="wrapperrow2">
        <Card header="Info om research" body="På denne side kan du finde artikler som indeholder information og forskning inden for højtlæsning. De ligger her, for at bidrage med viden om højtlæsning i Danmark og hvad der ligger bag BogSpiloppens motivation for højtlæsning i danske daginstitutioner. Det er vigtigt for os i BogSpiloppen, at vi omfavner så meget viden om højtlæsning som muligt, derfor præsenterer artiklerne et bredt udsnit af viden. "></Card>

    </div>
</div>